<h1>Listing reccomendations</h1>

<table>
  <thead>
    <tr>
      <th>Benefit</th>
      <th>Name</th>
      <th>Copy</th>
      <th>Url</th>
      <th>Favicon url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reccomendations.each do |reccomendation| %>
      <tr>
        <td><%= reccomendation.benefit %></td>
        <td><%= reccomendation.name %></td>
        <td><%= reccomendation.copy %></td>
        <td><%= reccomendation.url %></td>
        <td><%= reccomendation.favicon_url %></td>
        <td><%= link_to 'Show', reccomendation %></td>
        <td><%= link_to 'Edit', edit_reccomendation_path(reccomendation) %></td>
        <td><%= link_to 'Destroy', reccomendation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reccomendation', new_reccomendation_path %>
